# Python environment
__pycache__/
*.py[cod]
venv/
.env

# Data and Outputs
data/
*.log
*.csv

# Keep weather data for the Web App
!cache_data/
!cache_data/*.nc

# Keep locations.json but ignore other local json files
*.json
!locations.json
